<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
   <configSections>  
   </configSections>  
   <startup>   
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />  
   </startup>  
   <connectionStrings>  
       <add name="HsmsDbConnectionString" connectionString="Data Source=localhost;Initial Catalog=hsms_db;Integrated Security=True;TrustServerCertificate=True;Connect Timeout=5"  
       providerName="System.Data.SqlClient" />  
       <add name="hsms.Properties.Settings.hsms_dbConnectionString"  
       connectionString="Data Source=localhost;Initial Catalog=hsms_db;Integrated Security=True;TrustServerCertificate=True;Connect Timeout=5"  
       providerName="System.Data.SqlClient" />  
       <add name="hsms.Properties.Settings.hsms_dbConnectionString1"  
       connectionString="Data Source=localhost;Initial Catalog=hsms_db;Integrated Security=True;TrustServerCertificate=True;Connect Timeout=5"  
       providerName="System.Data.SqlClient" />  
   </connectionStrings>  
   <appSettings>  
       <add key="DownloadFolderPath" value="C:\\Users\\adiza\\Downloads" />  
   </appSettings>  
</configuration>